.spinner {
    /* Your styling */
    animation: spin 1s linear infinite; /* Required */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.country-card {
    background-color: rgba(169, 169, 169, 0.486);
    padding: 10px;
    width: fit-content !important;
    height: fit-content !important;
}

.border-grid {
    display: flex;
    gap: 15px;              
    flex-wrap: wrap;        
    justify-content: center; 
}

.error {
    color: crimson;
}

.hidden {
    display: none;
}

#country-info img {
  width: 120px !important;
  height: 100px !important;
}

#bordering-countries img {
  width: 100px !important;
  height: 80px !important;
}